# Google API Keys
GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_GENAI_USE_VERTEXAI=FALSE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK=

# Node Backend
PORT=

# Session
SESSION_SECRET=your_secret_key_here

# MongoDB
MONGO_URI=
MONGODB_URL

#Python Backend
FLASK_API_URL=

# Qdrant (optional)
QDRANT_HOST=localhost
QDRANT_PORT=6333

# Frontend
FRONTEND_URL=
